<div>

  <div class="dataTables_filter">
    <label>
      <input type="search"
             placeholder="Search">
    </label>
  </div>

  <div class="col-md-6 col-sm-4" ng-show="vm.getSelected().length">
    <a href class="btn btn-sm btn-primary" ng-click="vm.allRead()">Mark as Read</a>
    <a href class="btn btn-sm btn-primary" ng-click="vm.deleteMessages({messages: vm.getSelected()})">Delete</a>
  </div>

  <table class="table table-striped table-hover msg-table dataTable no-footer">
    <thead>
    <tr role="row">
      <th class="select hidden-xs"
          tabindex="0"
          rowspan="1"
          colspan="1"
          style="width: 56px;">
        <input type="checkbox" name="all_msg" ng-change="vm.toggleAllMessages()" ng-model="vm.selectAllMessages">
      </th>
      <th class="header subject sorting"
          tabindex="0"
          rowspan="1"
          colspan="1"
          style="width: 115px;">
        <span class="hidden-xs">From</span>
      </th>
      <th class="header from hidden-xs sorting"
          tabindex="0"
          rowspan="1"
          colspan="1"
          style="width: 286px;">
        Subject
      </th>
      <th class="header received hidden-xs"
          tabindex="0"
          rowspan="1"
          colspan="1"
          style="width: 141px;">
        Received
      </th>
      <th class="header actions hidden-xs"
          tabindex="0"
          rowspan="1"
          colspan="1"
          style="width: 148px;">
      </th>
    </tr>
    </thead>
    <tbody id="db_essays">

    <!--NO MESSAGES-->
    <tr role="row" class="odd" ng-if="!vm.messages.length">
      <td colspan="5" style="text-align: center;">
        <p>You Have No Messages</p>
      </td>
    </tr>

    <tr role="row" ng-repeat="message in vm.messages" class="{{message.status}}">
      <td class="hidden-xs">
        <input type="checkbox" ng-model="message.isSelected" ng-change="vm.toggleMessage()">
      </td>
      <td>
        {{::message.fromName}} <a href="">
        <p class="hidden-lg hidden-md hidden-sm">
          {{::message.subject}}
        </p>
      </a>
      </td>
      <td class="hidden-xs">
        <a ui-sref="message-detail({messageId: message.id})">
          {{::message.subject}}
        </a>
      </td>
      <td class="received">
        <span class="hidden-xs">
          {{::message.dateAdded *1000 | date: 'longDate'}}
        </span>
        <span class="hidden-lg hidden-md hidden-sm">
          {{::message.dateAdded *1000 | date: 'shortDate'}}
        </span>
      </td>

      <td class="actions text-right">
      </td>
    </tr>
    </tbody>
  </table>

</div>