<div class="row">
  <div class="page-head">
    <div class="col-md-12">
      <h1>My Messages</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">

    <p class="lead">{{'HEADLINE' | translate | uppercase}}</p>

    <p translate="INTRO_TEXT" translate-values="{username: vm.user.username}"></p>

    <p>
      <a ng-click="vm.changeLang('de')" class="btn btn-primary btn-lg" role="button">German</a>
      <a ng-click="vm.changeLang('en')" class="btn btn-primary btn-lg" role="button">English</a>
    </p>

  </div>
</div>