<div>
  <dashboard-header
      title="Update Password"
      subtitle="Change your password.">
  </dashboard-header>

  <div ng-show="!vm.passwordsMatch()" class="alert alert-danger" style="display:block;">
    New password and confirm password do not match.
  </div>

  <form name="vm.passwordForm" ng-submit="vm.submitForm()" novalidate>
    <div class="form-group">
      <label for="oldPassword">Old Password</label>
      <input
          required
          minlength="6"
          type="password"
          class="form-control"
          id="oldPassword"
          name="oldPassword"
          placeholder="Old Password"
          ng-model="vm.oldPassword">

      <ng-messages for="vm.passwordForm.oldPassword.$error">
        <ng-message class="help-block" when="minlength">Password must be 6 characters or longer</ng-message>
        <ng-message class="help-block" when="required">Password is required</ng-message>
      </ng-messages>

    </div>

    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input
          required
          minlength="6"
          type="password"
          class="form-control"
          id="newPassword"
          name="newPassword"
          placeholder="New Password"
          ng-model="vm.newPassword">

      <ng-messages for="vm.passwordForm.newPassword.$error">
        <ng-message class="help-block" when="minlength">Password must be 6 characters or longer</ng-message>
        <ng-message class="help-block" when="required">Password is required</ng-message>
      </ng-messages>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input
          required
          minlength="6"
          type="password"
          class="form-control"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="Confirm Password"
          ng-model="vm.confirmPassword">

      <ng-messages for="vm.passwordForm.confirmPassword.$error">
        <ng-message class="help-block" when="minlength">Password must be 6 characters or longer</ng-message>
        <ng-message class="help-block" when="required">Password is required</ng-message>
      </ng-messages>
    </div>

    <button
        type="submit"
        class="btn btn-primary"
        ng-disabled="vm.passwordForm.$invalid || vm.passwordForm.$pristine || vm.passwordForm.$submitted">
      Update Password
    </button>
    <button ui-sref="settings" type="button" class="btn btn-default">Back</button>
  </form>

</div>