<div>
  <div class="page-header">
    <h1>Account Settings</h1>

    <p class="lead">Manage your personal information, billing details and connected accounts.</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row form-account">
        <div class="col-md-6">
          <div class="form-group">
            <h4>Username</h4>
            {{vm.user.username}}
          </div>
          <div class="form-group">
            <h4>Password</h4>
            ********
            <a class="" ui-sref="password">Modify</a>
          </div>
          <div class="form-group">
            <h4>Email Preferences</h4>
            {{vm.user.email}}
            <a class="" ui-sref="email">Modify</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <h4>Account Type</h4>
            Premium Membership ending on Jun 20th, 2015
            <p><a href="#">Modify Account</a>
            </p>
          </div>
          <div class="form-group">
            <h4>Billing Information</h4>Credit Card ending in 1111<a href="#">modify</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>